.banner {
  position: relative;
  width: 100%;
  height: auto;
}

.banner-image {
  width: 100%;
  height: auto;
}

.hero-text {
  position: absolute;
  top: 70%;
  left: 20%;
  transform: translate(-50%, -50%);
  text-align: left;
}

.text-bold {
  font-weight: bold;
  font-size: 24px;
  color: rgb(0, 0, 0);
  margin-bottom: 5px;
}

.find {
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 4px;
  width: 120px;
}

@media (max-width: 768px) {
  .text-bold {
    margin-left: 25%;
    font-size: 10px;
  }
  .arr {
    display: none;
  }
  .par {
    width: 50% !important;
    right: 0;
  }

  .find {
    margin-left: 20%;
    font-size: 10px;
    width: 80px;
  }
}
.par {
  width: 25%;
}
.depImage {
  width: 100%;
  height: 25vh;
}
.docCardImg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("https://plus.unsplash.com/premium_photo-1658506671316-0b293df7c72b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
}

.docCardImg:hover {
  box-shadow: 0px 0px 10px 1px rgb(34, 34, 34);
}
.dep:hover {
  box-shadow: 0px 0px 10px 1px rgb(42, 42, 42);
}

.arr {
  position: absolute;
  right: 10px;
  top: 25%;
  font-size: 5rem;
  font-weight: 100;
}
