.app-div {
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}
.listbutt{
  font-size: 13px;
}
.listbutt:hover {
  color: black !important;
}

.details{
  color: black;
}

@media (max-width: 770px){
  .details{
    display: none;
  }
}
.dateDrop{
  --bs-dropdown-min-width:6.5rem!important;
/* width: 100px!important; */
}

.appLink{
text-decoration: none;
color: black;
}

.drpp:hover{
  color: black!important;
}

.appLink:hover{
text-decoration: none;
color: black;
}