.setProfile {
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  border-color: green;
  margin-top: 5%;
  margin-bottom: 10%;
}
.btn:hover {
  background-color: rgb(35, 116, 59);
  color: white !important;
}
.horizontal-scroll-container {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

.horizontal-scroll-content {
  display: inline-block;
}
